[Unit]
Description=mpvsockserver
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/neettv
Environment=FLASK_SECRET={{ lookup('env', 'FLASK_SECRET' ) }}
ExecStart=/usr/bin/python3 /var/www/neettv/mpvsockserver.py
Restart=always

[Install]
WantedBy=multi-user.target
