@font-face {
  font-family: inconsolata;
  src: url(/static/inconsolata-regular.ttf);
}

@font-face {
  font-family: inconsolata;
  font-weight: bold;
  src: url(/static/inconsolata-bold.ttf);
}

body {
  color: white;
  background-color: #070b34;
  font-family: /*inconsolata*/ sans-serif;
  line-height: 1.5rem;
}

a {
  color: white;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.navbar {
  padding: 1rem 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.navbar > .brand {
  font-size: 2rem;
  text-decoration: none;
  margin-right: 20px;
}
.navbar > .links {
  flex-grow: 1;
}
.navbar > .login {

}
