
%html
  %head
    %title neet.tv
    %link(rel='stylesheet', type='text/css', href='/static/normalize.css')
    %link(rel='stylesheet', type='text/css', href='/static/style.css')
  %body
    ${self.body()}
